
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
   
    box-shadow: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
 
    position: relative;
}

a {
    text-decoration: none;
    color:black;
}

main {
    display: block;
    
    width: 100%;
   
    background-color: white;
}



#header {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0px;
    left: 0;
    right: 0;
    max-width: inherit;
    width: 100%;
    padding: 20px 40px;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}

#header-img {
    width: 80px;
    height: 50px;
    margin-right: 10px;
}

#title {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    align-self: center;
}

#nav-bar {
    width: 100%;

}

#nav-bar ul {
    align-self: center;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#nav-bar ul li {
    font-size: 18px;
}

h1 {
    margin-bottom: 10px;
}

.hero {
    display: flex;
    width: 100%;
    padding-left: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #E6E6FA;
}

#home .left {
    width: 100%;
    /* margin-bottom: 100%; */
}

#home .left p {
    padding: 10px 10px 10px 0;
}

feather-shopping-cart {
    display: inline-block;
    vertical-align: text-bottom;
}

#home .left button {
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    
    background-color: blueviolet;
    border-radius: 5px;
}

#home .right img {
    display: block;
}

#home .right {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10%;
}

#info {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.card {
    display: inline-block;
    padding: 40px;
    box-shadow: -20px -10px 200px 20px rgb(0 0 0 / 2%), 20px 20px 200px 20px rgb(0, 0, 0, 8%);
    text-align: center;
    border-radius: 10px;
    width: 300px;
    margin-right: 20px;
}

.card h3 {
    margin-bottom: 10px;
}

#features {
   
    background-color: #fecfefca;
    /* padding: 5%; */
}

#features .first {
    padding: 40px 70px 40px 70px;
    margin-bottom: 40px;
}

#features .second {
    padding: 80px 70px calc(40px + 40px) 90px;
    background-color: #E6E6FA;
}

#features .first, #features .second {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#features .first .left img, #features .second .right img {
    display: block;
}

#features .first .left, #features .second .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#features .first .right, #features .second .left {
    width: 50%;
}

#features .first .right h3, #features .second .left h3 {
    margin-bottom: 10px;
}

#features .first .right p, #features .second p {
    margin-bottom: 20px;
    word-spacing: 2px;
}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

form span {
    align-self: center;
    margin-right: 10px;
    font-weight: 500;
}

#submit {
    padding: 8.5px 20px;
    font-size: 14px;
    margin-left:5px;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    border-radius: 0.25rem;
}

#email {
    outline: none;
    
    padding: 7px;
    font-size: 16px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: white;
    box-sizing: border-box;
}

@media (max-width:720px) {
    #home .right img {
        transform: scale(0.8);
    }

    #features .first .left img, #features .second .right img {
        transform: scale(0.8);
    }

    form {
        flex-direction: column;
    }
    #submit{
        margin:0;
    }
    #email, form span {
        margin: 0 0 5px 0;
    }
}

@media (max-width: 540px) {
    .hero {
        flex-direction: column;
        padding-bottom: 10px;
        padding-left: 0;
        justify-content: left;
        align-items: flex-start;
    }

    #home .left {
        padding-left: 70px;
        margin-top: 150px;
        margin-bottom: 20px;
    }

    #features .first .left img, #features .second {
        width: 100%;
    }

    #features .first {
        flex-direction: column;
    }

    #features .second {
        flex-direction: column;
    }

    #header {
        flex-direction: column;
    }

    #nav-bar ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    #nav-bar ul li {
        margin-bottom: 10px;
    }

    #info {
        flex-direction: column;

        align-items: center;
    }

    .card {

        margin-bottom: 10px;
    }

    #features .first .right, #features .second .left {
        width: 100%;
    }
    

    footer {
        padding: 0 20px;
    }
}

